@use '../../../scss/mixins' as *;
@use '../../../scss/functions' as *;
@use '../../../scss/vars' as v;

.banner {
  position: fixed;
  z-index: 100;
  right: rem(40px);
  bottom: rem(40px);

  width: rem(400px);
  padding: rem(40px);
  border-radius: rem(24px);

  background: var(--white);
  filter: drop-shadow(0 rem(8px) rem(32px) rgb(0 0 0 / 16%));

  @include tab-only {
    right: tvw(20px);
    bottom: tvw(20px);
  }

  @include m-only {
    right: rem(16px);
    bottom: rem(16px);
    left: rem(16px);

    width: auto;
    padding: rem(24px);
    border-radius: rem(16px);
  }
}

.text {
  margin-bottom: rem(16px);
}

.button {
  width: 100%;
}
