@use '../../../scss/functions' as *;
@use '../../../scss/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: rem(60);

  @include m-only {
    row-gap: rem(32);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: rem(40);

  @include tab-only {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: tvw(32);
  }

  @include m-only {
    grid-template-columns: 1fr;
    row-gap: rem(32);
  }
}
