@use '../../../scss/vars' as v;
@use '../../../scss/mixins' as *;
@use '../../../scss/functions' as *;

.section {
  overflow: visible;
  overflow-x: clip;
  height: 100vh;
  min-height: dvw(900);
  @include fluid(padding-top, 342px, 198px, 198px);

  @include tab-only {
    height: auto;
    min-height: unset;
  }

  @include m-only {
    display: flex;
    align-items: flex-end;

    height: auto;
    min-height: 100vh;
    padding-top: inherit;
  }
}

.bg {
  position: absolute;
  z-index: -1;
  left: 50%;
  translate: -50% 0;

  min-width: rem(1982px);
  height: auto;

  @include fluid(top, -108px, -70px);

  @include bp-from(v.$br-desk-max) {
    min-width: 110%;
  }

  @include tab-only {
    min-width: 160%;
  }

  @include m-only {
    min-width: 400%;
  }
}

.wrapper {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  min-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  @include fluid(max-width, 680px);
  @include fluid(row-gap, 40px);
  @include fluid(padding-bottom, 160px, 80px);

  @include m-only {
    max-width: 100%;
  }
}

.photoWrapper {
  display: flex;
  justify-content: center;
}

.protoWrapper {
  position: absolute;
  @include fluid(top, -156px, 0, -50px);
  @include fluid(right, 0, 0, -80px);
  @include fluid(width, 680px, 680px, 500px);

  @include m-only {
    display: none;
  }
}

.circle {
  position: relative;

  overflow: clip;

  aspect-ratio: 1/1;
  border-radius: 50%;

  background: linear-gradient(
    180deg,
    var(--orange-500) 0%,
    var(--orange-600) 100%
  );
  mix-blend-mode: multiply;
}

img.photo,
img.roundedPhoto {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  @include fluid(width, 552px, 552px, 406px);
  @include fluid(height, 829px, 829px, 610px);
}

img.roundedPhoto {
  bottom: 0;
}

img.photo {
  z-index: 1;
  top: rem(-149px);
  clip-path: inset(0 0 calc(100% - rem(300px)) 0);

  @include tab-only {
    top: tvw(-109px);
    clip-path: inset(0 0 calc(100% - tvw(300px)) 0);
  }

  @include m-only {
    clip-path: inset(0 0 calc(100% - mvw(300px)) 0);
  }
}
