@use '../../../scss/mixins' as *;
@use '../../../scss/functions' as *;
@use '../../../scss/vars' as v;

.button {
  cursor: pointer;

  display: inline-flex;
  gap: rem(4px);
  align-items: center;
  justify-content: center;

  width: fit-content;

  font-family: var(--font-body);
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  white-space: nowrap;

  transition:
    background-color v.$transition-timing,
    color v.$transition-timing,
    border-color v.$transition-timing;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .external {
    align-self: flex-start;
    @include fluid(width, 12);
    @include fluid(height, 12);
  }
}

.primary,
.secondary,
.neutral {
  padding: rem(14px) rem(24px);
  border: rem(2px) solid transparent;
  border-radius: 9999px;
}

.sm {
  &.primary,
  &.secondary,
  &.neutral {
    padding: rem(8px) rem(16px);
  }
}

.wide {
  width: 100%;
}

.wrapper {
  display: inline-flex;
  gap: rem(8px);
  align-items: center;
}

.sideText {
  white-space: nowrap;
}

.primary {
  color: var(--accent-foreground);
  background-color: var(--accent);

  @include hover {
    background-color: var(--orange-600);
  }

  @include active {
    background-color: var(--orange-700);
  }
}

.neutral {
  color: var(--foreground);
  background-color: var(--zinc-100);

  @include hover {
    background-color: var(--zinc-200);
  }

  @include active {
    background-color: var(--zinc-300);
  }
}

.ghost {
  color: var(--foreground);
  background-color: transparent;

  @include hover {
    color: var(--accent);
  }

  @include active {
    color: var(--orange-700);
  }
}

.ghost-white {
  color: var(--zinc-50);
  background-color: transparent;

  @include hover {
    color: var(--zinc-200);
  }
}

.ghost-orange {
  color: var(--accent);
  background-color: transparent;

  @include hover {
    color: var(--orange-600);
  }
}

.secondary {
  border-color: var(--accent);
  color: var(--accent);
  background-color: transparent;

  @include hover {
    background-color: var(--orange-50);
  }

  @include active {
    background-color: var(--orange-100);
  }
}

.chip {
  padding: rem(4) rem(8);
  border-radius: rem(14);

  font-size: rem(12);
  line-height: rem(16);

  background-color: var(--zinc-150);

  @include hover {
    background-color: var(--zinc-200);
  }

  @include active {
    background-color: var(--zinc-300);
  }
}

.round {
  padding: 0;
  border-radius: 50%;

  @include fluid(width, 56, 48);
  @include fluid(height, 56, 48);
}

.sm.round {
  padding: 0;

  @include fluid(width, 40, 32);
  @include fluid(height, 40, 32);
}
