@use '../../../scss/vars' as v;
@use '../../../scss/mixins' as *;
@use '../../../scss/functions' as *;

.container {
  width: 100%;
  max-width: v.$br-desk;
  margin-inline: auto;
  padding-inline: 20px;

  @include tab-only {
    padding-inline: tvw(20px);
  }

  @include m-only {
    padding-inline: mvw(16px);
  }
}
