@use "../../../scss/vars" as v;
@use "../../../scss/mixins" as *;
@use "../../../scss/functions" as *;

.footer {
    color: var(--zinc-50);
    background-color: var(--orange-600);
}

.wrapper {
    display: flex;
    gap: rem(12px);
    justify-content: space-between;
    padding-block: rem(8px);

    @include tab-only {
        gap: tvw(12px);
        padding-block: tvw(8px);
    }

    @include m-only {
        flex-direction: column;
        align-items: center;

        & > *:not(.privacy) {
            order: 1;
        }
    }
}
