@use 'sass:math';
@use 'sass:meta';
@use 'sass:list';
@use 'vars' as v;

@function unitless($val) {
  @return math.div($val, $val * 0 + 1);
}

@function vw($values, $viewport-base, $to-rem: false) {
  @if meta.type-of($values) == 'list' {
    $result: ();
    @each $value in $values {
      $vw-coefficient: math.div(unitless($value) * 100, $viewport-base);
      $result: list.append($result, #{$vw-coefficient}vw);
    }
    @return $result;
  } @else {
    $vw-coefficient: math.div(unitless($values) * 100, $viewport-base);
    @return #{$vw-coefficient}vw;
  }
}

@function mvw($values) {
  @return vw($values, unitless(v.$res-mob));
}

@function tvw($values) {
  @return vw($values, unitless(v.$res-tab));
}

@function dvw($values) {
  @return vw($values, unitless(v.$res-desk));
}
