@use './vars' as v;
@use './functions' as *;
@use './mixins' as *;

body {
  font-family: var(--font-body);
  line-height: 1.55;
  font-size: rem(18px);

  @include tab-only {
    font-size: clamp(rem(16px), tvw(18px), rem(18px));
  }

  @include m-only {
    font-size: mvw(16px);
  }
}

p,
li,
label {
  font-size: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  text-wrap: balance;
}

h1 {
  line-height: 1;
  @include fluid(font-size, 72px, 36px);
}

h2 {
  line-height: 1;
  @include fluid(font-size, 60px, 30px);
}

h3 {
  line-height: 1;
  @include fluid(font-size, 48px, 26px);
}

h4 {
  line-height: 1.11;
  @include fluid(font-size, 36px, 22px);
}

h5 {
  line-height: 1.33;
  @include fluid(font-size, 24px, 18px);
}

h6 {
  line-height: 1.33;
  @include fluid(font-size, 18px, 16px);
}

span.colored {
  color: var(--orange-500);
}

ul[role='marked'] {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
  @include fluid(row-gap, 4px);

  li {
    position: relative;
    @include fluid(padding-left, 8px);

    &::before {
      content: '';

      position: absolute;
      left: 0;

      display: block;

      aspect-ratio: 1/1;
      border-radius: 50%;

      background-color: var(--orange-500);
      @include fluid(top, 13px);
      @include fluid(width, 4px);
    }
  }
}
